# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files (large binaries)
*.joblib
*.h5
*.pkl

# Dataset and zip files
*.zip
*.tar
*.tar.gz

# Colab and system files
.DS_Store
Thumbs.db

# Environment files
.env
*.log

# VS Code settings
.vscode/

# Uploaded temporary files
*.jpg
*.jpeg
*.png
